body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;

    }

.feed{
    max-width: 600px;
    margin: 30px auto;
}

.encabezado-pagina {
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    }

.post{
    background-color: #ffffff;
    max-width: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px auto;
    transition: all 0.3s ease;
}

.post:hover {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.encabezado-post {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.titulo-post {
    font-size: 21px;
    font-weight: bold;
    margin: 0;
    flex-grow: 1;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    text-align: left;
}

.post-image{
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

img {
    max-width: 100%;
    height: auto;
}

.post-description {
    padding: 20px;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
    text-align: left;
}

.post-date {
    font-size: 14px;
    color: #888888;
    padding: 20px;
    margin-top: 9px;
}

.hashtag {
    color: #007bff;
    font-weight: bold;
    cursor: pointer;
}

.hashtag:hover {
    text-decoration: underline;
}